.bg-center {
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-top {
  background-repeat: no-repeat;
  background-position: top center;
}

.bg-right {
  background-repeat: no-repeat;
  background-position: center right;
}

.bg-bottom {
  background-repeat: no-repeat;
  background-position: bottom center;
}

.bg-left {
  background-repeat: no-repeat;
  background-position: center left;
}

@each $breakpoint in $breakpoints {
    $breakpoint-id: nth($breakpoint, 1);
    $breakpoint-value: nth($breakpoint, 2);

    @media #{$breakpoint-value} {
      .bg-center\@#{$breakpoint-id} { 
        background-repeat: no-repeat;
        background-position: center center;
      }

      .bg-top\@#{$breakpoint-id} {    
        background-repeat: no-repeat;
        background-position: top center;
      }

      .bg-right\@#{$breakpoint-id} {  
        background-repeat: no-repeat;
        background-position: center right;
      }

      .bg-bottom\@#{$breakpoint-id} { 
        background-repeat: no-repeat;
        background-position: bottom center;
      }

      .bg-left\@#{$breakpoint-id} {   
        background-repeat: no-repeat;
        background-position: center left;
      }
    }
  }
