.ba { border-style: solid; border-width: 1px; }
.bt { border-top-style: solid; border-top-width: 1px; }
.br { border-right-style: solid; border-right-width: 1px; }
.bb { border-bottom-style: solid; border-bottom-width: 1px; }
.bl { border-left-style: solid; border-left-width: 1px; }
.bn { border-style: none; border-width: 0; }

@each $breakpoint in $breakpoints {
  $breakpoint-id: nth($breakpoint, 1);
  $breakpoint-value: nth($breakpoint, 2);

  @media #{$breakpoint-value} {
    .ba#{$id}\@#{$breakpoint-id} { border-style: solid; border-width: 1px; }
    .bt#{$id}\@#{$breakpoint-id} { border-top-style: solid; border-top-width: 1px; }
    .br#{$id}\@#{$breakpoint-id} { border-right-style: solid; border-right-width: 1px; }
    .bb#{$id}\@#{$breakpoint-id} { border-bottom-style: solid; border-bottom-width: 1px; }
    .bl#{$id}\@#{$breakpoint-id} { border-left-style: solid; border-left-width: 1px; }
    .bn#{$id}\@#{$breakpoint-id} { border-style: none; border-width: 0; }
  }
}
