@each $radius in $radii {
  $id: nth($radius, 1);
  $value: nth($radius, 2) * 1rem;

  .br#{$id} {
    border-radius: $value;
  }

  @each $breakpoint in $breakpoints {
    $breakpoint-id: nth($breakpoint, 1);
    $breakpoint-value: nth($breakpoint, 2);

    @media #{$breakpoint-value} {
      .br#{$id}\@#{$breakpoint-id} {
        border-radius: $value;
      }
    }
  }
}

.br--bottom {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.br--top {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.br--right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.br--left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@each $breakpoint in $breakpoints {
  $breakpoint-id: nth($breakpoint, 1);
  $breakpoint-value: nth($breakpoint, 2);

  @media #{$breakpoint-value} {
    .br--bottom\@#{$breakpoint-id} {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .br--top\@#{$breakpoint-id} {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .br--right\@#{$breakpoint-id} {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .br--left\@#{$breakpoint-id} {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
