@each $thickness in $thicknesses {
  $id: nth($thickness, 1);
  $value: nth($thickness, 2) * 1rem;

  .bw#{$id} {
    border-width: $value;
  }

  .bt#{$id} {
    border-top-width: $value;
  }

  .br#{$id} {
    border-right-width: $value;
  }

  .bb#{$id} {
    border-bottom-width: $value;
  }

  .bl#{$id} {
    border-left-width: $value;
  }

  @each $breakpoint in $breakpoints {
    $breakpoint-id: nth($breakpoint, 1);
    $breakpoint-value: nth($breakpoint, 2);

    @media #{$breakpoint-value} {
      .bw#{$id}\@#{$breakpoint-id} {
        border-width: $value;
      }

      .bt#{$id}\@#{$breakpoint-id} {
        border-top-width: $value;
      }

      .br#{$id}\@#{$breakpoint-id} {
        border-right-width: $value;
      }

      .bb#{$id}\@#{$breakpoint-id} {
        border-bottom-width: $value;
      }

      .bl#{$id}\@#{$breakpoint-id} {
        border-left-width: $value;
      }
    }
  }
}
