.b--dotted { border-style: dotted; }
.b--dashed { border-style: dashed; }
.b--solid {  border-style: solid; }
.b--none {   border-style: none; }

@each $breakpoint in $breakpoints {
    $breakpoint-id: nth($breakpoint, 1);
    $breakpoint-value: nth($breakpoint, 2);

    @media #{$breakpoint-value} {
      .b--dotted\@#{$breakpoint-id} { border-style: dotted; }
      .b--dashed\@#{$breakpoint-id} { border-style: dashed; }
      .b--solid\@#{$breakpoint-id} {  border-style: solid; }
      .b--none\@#{$breakpoint-id} {   border-style: none; }
    }
  }
