@each $shadow in $shadows {
  $id: nth($shadow, 1);
  $value: nth($shadow, 2);

  .shadow#{$id} {
    box-shadow: $value;
  }

  @each $breakpoint in $breakpoints {
    $breakpoint-id: nth($breakpoint, 1);
    $breakpoint-value: nth($breakpoint, 2);

    @media #{$breakpoint-value} {
      .shadow#{$id}\@#{$breakpoint-id} {
        box-shadow: $value;
      }
    }
  }
}
