.cf {
  *zoom: 1;
  &:after { clear: both; }
  &:before,
  &:after { content: " "; display: table; }
}

.cl { clear: left; }
.cr { clear: right; }
.cb { clear: both; }
.cn { clear: none; }

@each $breakpoint in $breakpoints {
    $breakpoint-id: nth($breakpoint, 1);
    $breakpoint-value: nth($breakpoint, 2);

    @media #{$breakpoint-value} {
      .cf\@#{$breakpoint-id} {
        *zoom: 1;
        &:after { clear: both; }
        &:before,
        &:after { content: " "; display: table; }
      }

      .cl\@#{$breakpoint-id} { clear: left; }
      .cr\@#{$breakpoint-id} { clear: right; }
      .cb\@#{$breakpoint-id} { clear: both; }
      .cn\@#{$breakpoint-id} { clear: none; }
    }
  }
