.dn {              display: none; }
.di {              display: inline; }
.db {              display: block; }
.dib {             display: inline-block; }
.dit {             display: inline-table; }
.dt {              display: table; }
.dtc {             display: table-cell; }
.dt-row {          display: table-row; }
.dt-row-group {    display: table-row-group; }
.dt-column {       display: table-column; }
.dt-column-group { display: table-column-group; }

/*
  This will set table to full width and then
  all cells will be equal width
*/
.dt--fixed {
  table-layout: fixed;
  width: 100%;
}

@each $breakpoint in $breakpoints {
    $breakpoint-id: nth($breakpoint, 1);
    $breakpoint-value: nth($breakpoint, 2);

    @media #{$breakpoint-value} {
      .dn\@#{$breakpoint-id} {              display: none; }
      .di\@#{$breakpoint-id} {              display: inline; }
      .db\@#{$breakpoint-id} {              display: block; }
      .dib\@#{$breakpoint-id} {             display: inline-block; }
      .dit\@#{$breakpoint-id} {             display: inline-table; }
      .dt\@#{$breakpoint-id} {              display: table; }
      .dtc\@#{$breakpoint-id} {             display: table-cell; }
      .dt-row\@#{$breakpoint-id} {          display: table-row; }
      .dt-row-group\@#{$breakpoint-id} {    display: table-row-group; }
      .dt-column\@#{$breakpoint-id} {       display: table-column; }
      .dt-column-group\@#{$breakpoint-id} { display: table-column-group; }
      .dt--fixed\@#{$breakpoint-id} {
        table-layout: fixed;
        width: 100%;
      }
    }
  }
