.flex { display: flex; }
.inline-flex { display: inline-flex; }

/* 1. Fix for Chrome 44 bug.
 * https://code.google.com/p/chromium/issues/detail?id=506893 */
.flex-auto {
  flex: 1 1 auto;
  min-width: 0; /* 1 */
  min-height: 0; /* 1 */
}

.flex-none { flex: none; }

.flex-column  { flex-direction: column; }
.flex-row     { flex-direction: row; }
.flex-wrap    { flex-wrap: wrap; }
.flex-nowrap    { flex-wrap: nowrap; }
.flex-wrap-reverse    { flex-wrap: wrap-reverse; }
.flex-column-reverse  { flex-direction: column-reverse; }
.flex-row-reverse     { flex-direction: row-reverse; }

.items-start    { align-items: flex-start; }
.items-end      { align-items: flex-end; }
.items-center   { align-items: center; }
.items-baseline { align-items: baseline; }
.items-stretch  { align-items: stretch; }

.self-start    { align-self: flex-start; }
.self-end      { align-self: flex-end; }
.self-center   { align-self: center; }
.self-baseline { align-self: baseline; }
.self-stretch  { align-self: stretch; }

.justify-start   { justify-content: flex-start; }
.justify-end     { justify-content: flex-end; }
.justify-center  { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-around  { justify-content: space-around; }

.content-start   { align-content: flex-start; }
.content-end     { align-content: flex-end; }
.content-center  { align-content: center; }
.content-between { align-content: space-between; }
.content-around  { align-content: space-around; }
.content-stretch { align-content: stretch; }

.order-0 { order: 0; }
.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }
.order-4 { order: 4; }
.order-5 { order: 5; }
.order-6 { order: 6; }
.order-7 { order: 7; }
.order-8 { order: 8; }
.order-last { order: 99999; }

.flex-grow-0 { flex-grow: 0; }
.flex-grow-1 { flex-grow: 1; }

.flex-shrink-0 { flex-shrink: 0; }
.flex-shrink-1 { flex-shrink: 1; }

@each $breakpoint in $breakpoints {
    $breakpoint-id: nth($breakpoint, 1);
    $breakpoint-value: nth($breakpoint, 2);

    @media #{$breakpoint-value} {
      .flex\@#{$breakpoint-id} { display: flex; }
      .inline-flex\@#{$breakpoint-id} { display: inline-flex; }

      /* 1. Fix for Chrome 44 bug.
       * https://code.google.com/p/chromium/issues/detail?id=506893 */
      .flex-auto\@#{$breakpoint-id} {
        flex: 1 1 auto;
        min-width: 0; /* 1 */
        min-height: 0; /* 1 */
      }

      .flex-none\@#{$breakpoint-id} { flex: none; }

      .flex-column\@#{$breakpoint-id}  { flex-direction: column; }
      .flex-row\@#{$breakpoint-id}     { flex-direction: row; }
      .flex-wrap\@#{$breakpoint-id}    { flex-wrap: wrap; }
      .flex-nowrap\@#{$breakpoint-id}    { flex-wrap: nowrap; }
      .flex-wrap-reverse\@#{$breakpoint-id}    { flex-wrap: wrap-reverse; }
      .flex-column-reverse\@#{$breakpoint-id}  { flex-direction: column-reverse; }
      .flex-row-reverse\@#{$breakpoint-id}     { flex-direction: row-reverse; }

      .items-start\@#{$breakpoint-id}    { align-items: flex-start; }
      .items-end\@#{$breakpoint-id}      { align-items: flex-end; }
      .items-center\@#{$breakpoint-id}   { align-items: center; }
      .items-baseline\@#{$breakpoint-id} { align-items: baseline; }
      .items-stretch\@#{$breakpoint-id}  { align-items: stretch; }

      .self-start\@#{$breakpoint-id}    { align-self: flex-start; }
      .self-end\@#{$breakpoint-id}      { align-self: flex-end; }
      .self-center\@#{$breakpoint-id}   { align-self: center; }
      .self-baseline\@#{$breakpoint-id} { align-self: baseline; }
      .self-stretch\@#{$breakpoint-id}  { align-self: stretch; }

      .justify-start\@#{$breakpoint-id}   { justify-content: flex-start; }
      .justify-end\@#{$breakpoint-id}     { justify-content: flex-end; }
      .justify-center\@#{$breakpoint-id}  { justify-content: center; }
      .justify-between\@#{$breakpoint-id} { justify-content: space-between; }
      .justify-around\@#{$breakpoint-id}  { justify-content: space-around; }

      .content-start\@#{$breakpoint-id}   { align-content: flex-start; }
      .content-end\@#{$breakpoint-id}     { align-content: flex-end; }
      .content-center\@#{$breakpoint-id}  { align-content: center; }
      .content-between\@#{$breakpoint-id} { align-content: space-between; }
      .content-around\@#{$breakpoint-id}  { align-content: space-around; }
      .content-stretch\@#{$breakpoint-id} { align-content: stretch; }

      .order-0\@#{$breakpoint-id} { order: 0; }
      .order-1\@#{$breakpoint-id} { order: 1; }
      .order-2\@#{$breakpoint-id} { order: 2; }
      .order-3\@#{$breakpoint-id} { order: 3; }
      .order-4\@#{$breakpoint-id} { order: 4; }
      .order-5\@#{$breakpoint-id} { order: 5; }
      .order-6\@#{$breakpoint-id} { order: 6; }
      .order-7\@#{$breakpoint-id} { order: 7; }
      .order-8\@#{$breakpoint-id} { order: 8; }
      .order-last\@#{$breakpoint-id} { order: 99999; }

      .flex-grow-0\@#{$breakpoint-id} { flex-grow: 0; }
      .flex-grow-1\@#{$breakpoint-id} { flex-grow: 1; }

      .flex-shrink-0\@#{$breakpoint-id} { flex-shrink: 0; }
      .flex-shrink-1\@#{$breakpoint-id} { flex-shrink: 1; }
    }
  }
