.i         { font-style: italic; }
.fs-normal { font-style: normal; }

@each $breakpoint in $breakpoints {
    $breakpoint-id: nth($breakpoint, 1);
    $breakpoint-value: nth($breakpoint, 2);

    @media #{$breakpoint-value} {
      .i\@#{$breakpoint-id}         { font-style: italic; }
      .fs-normal\@#{$breakpoint-id} { font-style: normal; }
    }
  }
