.normal { font-weight: normal; }
.b      { font-weight: bold; }
.fw1    { font-weight: 100; }
.fw2    { font-weight: 200; }
.fw3    { font-weight: 300; }
.fw4    { font-weight: 400; }
.fw5    { font-weight: 500; }
.fw6    { font-weight: 600; }
.fw7    { font-weight: 700; }
.fw8    { font-weight: 800; }
.fw9    { font-weight: 900; }

@each $breakpoint in $breakpoints {
    $breakpoint-id: nth($breakpoint, 1);
    $breakpoint-value: nth($breakpoint, 2);

    @media #{$breakpoint-value} {
      .normal\@#{$breakpoint-id} { font-weight: normal; }
      .b\@#{$breakpoint-id}      { font-weight: bold; }
      .fw1\@#{$breakpoint-id}    { font-weight: 100; }
      .fw2\@#{$breakpoint-id}    { font-weight: 200; }
      .fw3\@#{$breakpoint-id}    { font-weight: 300; }
      .fw4\@#{$breakpoint-id}    { font-weight: 400; }
      .fw5\@#{$breakpoint-id}    { font-weight: 500; }
      .fw6\@#{$breakpoint-id}    { font-weight: 600; }
      .fw7\@#{$breakpoint-id}    { font-weight: 700; }
      .fw8\@#{$breakpoint-id}    { font-weight: 800; }
      .fw9\@#{$breakpoint-id}    { font-weight: 900; }
    }
  }
