.tracked       { letter-spacing:  $letter-spacing-1; }
.tracked-tight { letter-spacing: $letter-spacing-tight; }
.tracked-mega  { letter-spacing:  $letter-spacing-2; }

@each $breakpoint in $breakpoints {
    $breakpoint-id: nth($breakpoint, 1);
    $breakpoint-value: nth($breakpoint, 2);

    @media #{$breakpoint-value} {
      .tracked\@#{$breakpoint-id}       { letter-spacing:  $letter-spacing-1; }
      .tracked-tight\@#{$breakpoint-id} { letter-spacing: $letter-spacing-tight; }
      .tracked-mega\@#{$breakpoint-id}  { letter-spacing:  $letter-spacing-2; }
    }
  }
