.lh-solid { line-height: $line-height-solid; }
.lh-title { line-height: $line-height-title; }
.lh-copy  { line-height: $line-height-copy; }

@each $breakpoint in $breakpoints {
    $breakpoint-id: nth($breakpoint, 1);
    $breakpoint-value: nth($breakpoint, 2);

    @media #{$breakpoint-value} {
      .lh-solid\@#{$breakpoint-id} { line-height: $line-height-solid; }
      .lh-title\@#{$breakpoint-id} { line-height: $line-height-title; }
      .lh-copy\@#{$breakpoint-id}  { line-height: $line-height-copy; }
    }
  }
