.outline { outline: 1px solid; }
.outline-transparent { outline: 1px solid transparent; }
.outline-0 { outline: 0; }

@each $breakpoint in $breakpoints {
    $breakpoint-id: nth($breakpoint, 1);
    $breakpoint-value: nth($breakpoint, 2);

    @media #{$breakpoint-value} {
      .outline\@#{$breakpoint-id} { outline: 1px solid; }
      .outline-transparent\@#{$breakpoint-id} { outline: 1px solid transparent; }
      .outline-0\@#{$breakpoint-id} { outline: 0; }
    }
  }
