.overflow-visible { overflow: visible; }
.overflow-hidden { overflow: hidden; }
.overflow-scroll { overflow: scroll; }
.overflow-auto { overflow: auto; }

.overflow-x-visible { overflow-x: visible; }
.overflow-x-hidden { overflow-x: hidden; }
.overflow-x-scroll { overflow-x: scroll; }
.overflow-x-auto { overflow-x: auto; }

.overflow-y-visible { overflow-y: visible; }
.overflow-y-hidden { overflow-y: hidden; }
.overflow-y-scroll { overflow-y: scroll; }
.overflow-y-auto { overflow-y: auto; }

@each $breakpoint in $breakpoints {
    $breakpoint-id: nth($breakpoint, 1);
    $breakpoint-value: nth($breakpoint, 2);

    @media #{$breakpoint-value} {
      .overflow-visible\@#{$breakpoint-id} { overflow: visible; }
      .overflow-hidden\@#{$breakpoint-id} { overflow: hidden; }
      .overflow-scroll\@#{$breakpoint-id} { overflow: scroll; }
      .overflow-auto\@#{$breakpoint-id} { overflow: auto; }

      .overflow-x-visible\@#{$breakpoint-id} { overflow-x: visible; }
      .overflow-x-hidden\@#{$breakpoint-id} { overflow-x: hidden; }
      .overflow-x-scroll\@#{$breakpoint-id} { overflow-x: scroll; }
      .overflow-x-auto\@#{$breakpoint-id} { overflow-x: auto; }

      .overflow-y-visible\@#{$breakpoint-id} { overflow-y: visible; }
      .overflow-y-hidden\@#{$breakpoint-id} { overflow-y: hidden; }
      .overflow-y-scroll\@#{$breakpoint-id} { overflow-y: scroll; }
      .overflow-y-auto\@#{$breakpoint-id} { overflow-y: auto; }
    }
  }
