.static { position: static; }
.relative  { position: relative; }
.absolute  { position: absolute; }
.fixed  { position: fixed; }

@each $breakpoint in $breakpoints {
    $breakpoint-id: nth($breakpoint, 1);
    $breakpoint-value: nth($breakpoint, 2);

    @media #{$breakpoint-value} {
      .static\@#{$breakpoint-id} { position: static; }
      .relative\@#{$breakpoint-id}  { position: relative; }
      .absolute\@#{$breakpoint-id}  { position: absolute; }
      .fixed\@#{$breakpoint-id}  { position: fixed; }
    }
  }
