@each $gray in $grays {
  $id: nth($gray, 1);
  $value: nth($gray, 2);

  .gray#{$id} {
    color: $value;
  }

  .bg-gray#{$id} {
    background-color: $value;
  }

  .fill-gray#{$id} {
    fill: $value;
  }
}

@each $transparency in $transparencies {
  $id: nth($gray, 1);
  $value: nth($gray, 2);

  .white#{$id} {
    color: rgba(255,255,255,$value);
  }

  .black#{$id} {
    color: rgba(0,0,0,$value);
  }

  .bg-white#{$id} {
    background-color: rgba(255,255,255,$value);
  }

  .bg-black#{$id} {
    background-color: rgba(0,0,0,$value);
  }

  .fill-white#{$id} {
    fill: rgba(255,255,255,$value);
  }

  .fill-black#{$id} {
    fill: rgba(0,0,0,$value);
  }
}
