@each $spacing in $spacings {
  $id: nth($spacing, 1);
  $value: nth($spacing, 2) * 1rem;

  .pa#{$id} {
    padding: $value;
  }

  .pl#{$id} {
    padding-left: $value;
  }

  .pr#{$id} {
    padding-right: $value;
  }

  .pb#{$id} {
    padding-bottom: $value;
  }

  .pt#{$id} {
    padding-top: $value;
  }

  .pv#{$id} {
    padding-top: $value;
    padding-bottom: $value;
  }

  .ph#{$id} {
    padding-left: $value;
    padding-right: $value;
  }

  .ma#{$id} {
    margin: $value;
  }

  .ml#{$id} {
    margin-left: $value;
  }

  .mr#{$id} {
    margin-right: $value;
  }

  .mb#{$id} {
    margin-bottom: $value;
  }

  .mt#{$id} {
    margin-top: $value;
  }

  .mv#{$id} {
    margin-top: $value;
    margin-bottom: $value;
  }

  .mh#{$id} {
    margin-left: $value;
    margin-right: $value;
  }

  @each $breakpoint in $breakpoints {
    $breakpoint-id: nth($breakpoint, 1);
    $breakpoint-value: nth($breakpoint, 2);

    @media #{$breakpoint-value} {
      .pa#{$id}\@#{$breakpoint-id} {
        padding: $value;
      }

      .pl#{$id}\@#{$breakpoint-id} {
        padding-left: $value;
      }

      .pr#{$id}\@#{$breakpoint-id} {
        padding-right: $value;
      }

      .pb#{$id}\@#{$breakpoint-id} {
        padding-bottom: $value;
      }

      .pt#{$id}\@#{$breakpoint-id} {
        padding-top: $value;
      }

      .pv#{$id}\@#{$breakpoint-id} {
        padding-top: $value;
        padding-bottom: $value;
      }

      .ph#{$id}\@#{$breakpoint-id} {
        padding-left: $value;
        padding-right: $value;
      }

      .ma#{$id}\@#{$breakpoint-id} {
        margin: $value;
      }

      .ml#{$id}\@#{$breakpoint-id} {
        margin-left: $value;
      }

      .mr#{$id}\@#{$breakpoint-id} {
        margin-right: $value;
      }

      .mb#{$id}\@#{$breakpoint-id} {
        margin-bottom: $value;
      }

      .mt#{$id}\@#{$breakpoint-id} {
        margin-top: $value;
      }

      .mv#{$id}\@#{$breakpoint-id} {
        margin-top: $value;
        margin-bottom: $value;
      }

      .mh#{$id}\@#{$breakpoint-id} {
        margin-left: $value;
        margin-right: $value;
      }
    }
  }
}
