.tl  { text-align: left; }
.tr  { text-align: right; }
.tc  { text-align: center; }

@each $breakpoint in $breakpoints {
    $breakpoint-id: nth($breakpoint, 1);
    $breakpoint-value: nth($breakpoint, 2);

    @media #{$breakpoint-value} {
      .tl\@#{$breakpoint-id}  { text-align: left; }
      .tr\@#{$breakpoint-id}  { text-align: right; }
      .tc\@#{$breakpoint-id}  { text-align: center; }
    }
  }
