.ttc { text-transform: capitalize; }
.ttl { text-transform: lowercase; }
.ttu { text-transform: uppercase; }
.ttn { text-transform: none; }

@each $breakpoint in $breakpoints {
    $breakpoint-id: nth($breakpoint, 1);
    $breakpoint-value: nth($breakpoint, 2);

    @media #{$breakpoint-value} {
      .ttc\@#{$breakpoint-id} { text-transform: capitalize; }
      .ttl\@#{$breakpoint-id} { text-transform: lowercase; }
      .ttu\@#{$breakpoint-id} { text-transform: uppercase; }
      .ttn\@#{$breakpoint-id} { text-transform: none; }
    }
  }
