.strike       { text-decoration: line-through; }
.underline    { text-decoration: underline; }
.no-underline { text-decoration: none; }

@each $breakpoint in $breakpoints {
  $breakpoint-id: nth($breakpoint, 1);
  $breakpoint-value: nth($breakpoint, 2);

  @media #{$breakpoint-value} {
    .strike\@#{$breakpoint-id}       { text-decoration: line-through; }
    .underline\@#{$breakpoint-id}    { text-decoration: underline; }
    .no-underline\@#{$breakpoint-id} { text-decoration: none; }
  }
}
