@each $breakpoint in $breakpoints {
    $breakpoint-id: nth($breakpoint, 1);
    $breakpoint-value: nth($breakpoint, 2);

    @media #{$breakpoint-value} {
      .measure\@#{$breakpoint-id} {
        max-width: $measure;
      }
      .measure-wide\@#{$breakpoint-id} {
        max-width: $measure-wide;
      }
      .measure-narrow\@#{$breakpoint-id} {
        max-width: $measure-narrow;
      }
      .indent\@#{$breakpoint-id} {
        text-indent: 1em;
        margin-top: 0;
        margin-bottom: 0;
      }
      .small-caps\@#{$breakpoint-id} {
        font-variant: small-caps;
      }
      .truncate\@#{$breakpoint-id} {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
