@each $font-size in $font-sizes {
  $id: nth($font-size, 1);
  $value: nth($font-size, 2) * 1rem;

  .f#{$id} {
    font-size: $value;
  }

  @each $breakpoint in $breakpoints {
    $breakpoint-id: nth($breakpoint, 1);
    $breakpoint-value: nth($breakpoint, 2);

    @media #{$breakpoint-value} {
      .f#{$id}\@#{$breakpoint-id} {
        font-size: $value;
      }
    }
  }
}
