.v-base     { vertical-align: baseline; }
.v-mid      { vertical-align: middle; }
.v-top      { vertical-align: top; }
.v-btm      { vertical-align: bottom; }

@each $breakpoint in $breakpoints {
    $breakpoint-id: nth($breakpoint, 1);
    $breakpoint-value: nth($breakpoint, 2);

    @media #{$breakpoint-value} {
      .v-base\@#{$breakpoint-id}     { vertical-align: baseline; }
      .v-mid\@#{$breakpoint-id}      { vertical-align: middle; }
      .v-top\@#{$breakpoint-id}      { vertical-align: top; }
      .v-btm\@#{$breakpoint-id}      { vertical-align: bottom; }
    }
  }
