.clip {
  position: fixed !important;
  _position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

@each $breakpoint in $breakpoints {
    $breakpoint-id: nth($breakpoint, 1);
    $breakpoint-value: nth($breakpoint, 2);

    @media #{$breakpoint-value} {
      .clip\@#{$breakpoint-id} {
        position: fixed !important;
        _position: absolute !important;
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
      }
    }
  }
