.ws-normal { white-space: normal; }
.nowrap { white-space: nowrap; }
.pre { white-space: pre; }

@each $breakpoint in $breakpoints {
    $breakpoint-id: nth($breakpoint, 1);
    $breakpoint-value: nth($breakpoint, 2);

    @media #{$breakpoint-value} {
      .ws-normal\@#{$breakpoint-id} { white-space: normal; }
      .nowrap\@#{$breakpoint-id} { white-space: nowrap; }
      .pre\@#{$breakpoint-id} { white-space: pre; 
    }
  }
